<c-include template="ui/components/foo" hello="world"></c-include>
<c-include template="ui/components/bar" hello="world"/>
<c-include template="ui/components/baz" hello="world">
    Hello World!
</c-include>